@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Montserrat:wght@500&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*-------------------------- Navbar styling -------------------------- */

.navbar{
  background-color: #3E300C;
  color: #F1E7E7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 5rem;
}

.navbar a{
  color: inherit;
  padding-top: 2.5rem;
  text-decoration: none;
}

.navbar a:hover{
  color: #84ACC2;
}

li a:hover{
  color: #84ACC2;
}

.navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2.5rem;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  padding-right: 90px;
}

.siteTitle{
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
  padding-bottom: 2.5rem;
  text-decoration: none;
  padding-left: 90px;
}

.firstHeart{
  color: green;
  font-size: 10px;
}

.secondHeart{
  color: white;
  font-size: 10px;
}

.thirdHeart{
  color: red;
  font-size: 10px;
}

/*-------------------------- Navbar styling -------------------------- */
/*-------------------------- Carousel styling -------------------------- */
.carousel{
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #84ACC2;
}

.carousel h3{
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
}

/*-------------------------- Carousel styling -------------------------- */
/*-------------------------- Menu styling -------------------------- */
.menu{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLCKz2caQidnpcej_lu54wj_WxflaGgr1TZg&usqp=CAU");
}
/*-------------------------- Menu styling -------------------------- */